.movies__filters {
  display: flex;
  align-items: center;

  > * {
    width: 50%;
  }
}
.main__section1 {
  color: #cecece;
  background-color: rgb(10, 10, 10);
  background-color: rgb(10, 10, 10);
  background: #3d0d10;
  background: radial-gradient(circle, #340205 0%, #1b0102 100%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main__section1-title {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  font-family: 'Bebas Neue';
}
.movies__filters {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  @media all and (min-width: 1000px) {
    flex-direction: row;
  }
}
.movies__filters--gender {
  margin-top: 10px;
}
.form__input-text {
  margin: 10px;
}
.form__input-text {
  color: rgb(10, 10, 10);
  background-color: #cecece;
  margin-left: 5px;
}
.movies__radio {
  display: inline-block;
  margin: 0 0.5rem;
}
