.main__section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.main__section2--title {
  font-family: 'Bebas Neue';
  font-size: 40px;
}
.main__section2--form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 30%;
  margin: 0 auto;
}
.form__label,
.form__btn {
  margin: 20px;
}
.form__btn {
  color: rgb(10, 10, 10);
}
