.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  margin: 0px 50px 0px 50px;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 7.5rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 0.1875rem solid #e50914;
  overflow: hidden;
  transition: 0.25s all;
  background-color: rgb(10, 10, 10);
  color: #cecece;
}
.card__img {
  width: 100%;
}
.card__title {
  margin: 10px auto;
}
.card__description {
  margin: 0 auto;
}
